fastapi
uvicorn
python-dotenv
pydantic
groq
langchain
langchain-core
langchain-openai
langgraph
sentence-transformers
pinecone-client
yfinance
requests
pypdf
supabase
numpy
python-multipart
tiktoken
openai
httpx